.DS_Store

*~
*.swp
*.orig
._*
.#*
.nfs*
*.pyc
*.pyo
*.log
*.egg-info/
*.egg

.idea/*
.vscode/

/.coverage
/.cache
/bin
/python
/data
tmp/**/*
spinalcordtoolbox_v*
dev/atlas/create_atlas/results
dev/atlas/validate_atlas/tmp.*

scripts/.idea/misc.xml
scripts/.idea/modules.xml
scripts/.idea/scripts.iml
scripts/.idea/vcs.xml
scripts/.idea/workspace.xml

sct_example_data
sct_testing_data
somefile