# Can ignore specific files
.DS_Store
sct_utils.pyc

# Use wildcards as well
*~
*.swp
._*
.nfs*
*.pyc
*.log

.idea/*

# Can also ignore all directories and files in a directory.
bin
python
data
tmp/**/*
spinalcordtoolbox_v*
dev/atlas/create_atlas/results
dev/atlas/validate_atlas/tmp.*

scripts/.idea/misc.xml
scripts/.idea/modules.xml
scripts/.idea/scripts.iml
scripts/.idea/vcs.xml
scripts/.idea/workspace.xml

bin/
data/
