# testing file for Travis
# https://travis-ci.org/neuropoly/spinalcordtoolbox

sudo: false  # To use travis container infrastructure

language: python

notifications:
  slack: neuropoly:YA3mt28aeHN3A0Iu7RvMFigK
    on_success:change
    on_failure:always

# this enables to avoid recompilation of dipy if it was already compiled previously
cache:
  directories:
    - ${HOME}/.cache/pip

matrix:
  include:
    - os: linux
      python: 2.7  # these are just to make travis's UI a bit prettier
    - os: osx
      language: generic

before_install:
  - echo "HOME="
  - echo $HOME
install:
# update tools
  - cd install
  - ./update_bin.sh
  - yes | ./install_sct
  - source ~/.bashrc
  - cat ~/.bashrc
  - echo $PATH
script:
  - sct_check_dependencies   # test dependences
  - sct_testing -d 1  # test functions & integrity
  - cd install
  - python create_package.py -s ${TRAVIS_OS_NAME}  # test package creation
  - cd ../spinalcordtoolbox_v*
  - python installer.py -p ~/sct  # test installation of package
  - echo "DONE"
