# testing file for Travis
# https://travis-ci.org/neuropoly/spinalcordtoolbox

sudo: false  # To use travis container infrastructure

language: python

notifications:
  slack: neuropoly:YA3mt28aeHN3A0Iu7RvMFigK
    on_success:change
    on_failure:always

# this enables to avoid recompilation of dipy if it was already compiled previously
cache:
  directories:
    - ${HOME}/.cache/pip

matrix:
  include:
    - os: linux
      python: 2.7 # Just to make travis's UI a bit prettier
      env: SCT_MINICONDA=2 SCT_VERBOSE_INSTALL=1 MPLBACKEND=Agg
    - os: linux
      python: 2.7
      env: SCT_MINICONDA=2 MPLBACKEND=Agg
    - os: linux
      python: 2.7
      env: SCT_MINICONDA=3 MPLBACKEND=Agg
    - os: osx
      language: generic
      env: SCT_MINICONDA=2 MPLBACKEND=Agg
    - os: osx
      language: generic
      env: SCT_MINICONDA=2 SCT_VERBOSE_INSTALL=1 MPLBACKEND=Agg
    - os: osx
      language: generic
      env: SCT_MINICONDA=3 MPLBACKEND=Agg
  allow_failures:
    - os: linux
      python: 2.7
      env: SCT_MINICONDA=3 MPLBACKEND=Agg
    - os: osx
      language: generic
      env: SCT_MINICONDA=3 MPLBACKEND=Agg

before_install:
  - echo "HOME="
  - echo $HOME
  - sudo apt-get update -qq; sudo apt-get install -qq libopenmpi-dev; echo


install:
# update tools
#  - ./update_bin.sh
  - yes | ASK_REPORT_QUESTION=false ./install_sct
  # run launcher in order to update PATH
  - source $HOME/build/neuropoly/spinalcordtoolbox/bin/sct_launcher
  - echo $PATH

script:
# test dependencies
#  - sct_check_dependencies
# test functions & integrity
  - bash -c "sudo apt-get install -qq libalglib-dev libinsighttoolkit4-dev; apt-cache show libvtk6-dev && sudo apt-get install -qq libvtk6-dev; apt-cache show libvtk7-dev && sudo apt-get install -qq libvtk7-dev; cd $HOME/build/neuropoly/spinalcordtoolbox/dev/isct_propseg; mkdir -p build; cd build; cmake ..; make; echo"
  - pip install coverage
  - bash -c "echo 'import coverage; cov = coverage.process_startup()' > sitecustomize.py"
  - bash -c 'echo -ne "[run]\nconcurrency = multiprocessing\nparallel = True\n" > .coveragerc'
  - mkdir -p tmp
  - TMPDIR="$PWD/tmp" COVERAGE_PROCESS_START="$PWD/.coveragerc" PYTHONPATH="$PWD" sct_testing -d 1
#  - python create_package.py -s ${TRAVIS_OS_NAME}  # test package creation
#  - cd ../spinalcordtoolbox_v*
#  - yes | ./install_sct  # test installation of package
  - coverage combine tmp/*/.coverage*
  - ./unit_testing.sh
  - bash -c "pip install sphinx sphinxcontrib.programoutput; cd $HOME/build/neuropoly/spinalcordtoolbox/documentation/sphinx; make html; echo"
  - echo "This is the end, thanks for reading up to here."
  - pip install coveralls

after_success:
  - CI=true TRAVIS=true coveralls
