absl-py==2.2.2
acvl_utils==0.2
annotated-types==0.7.0
astor==0.8.1
attrs==25.3.0
batchgenerators==0.25.1
bids-validator==1.14.7.post0
bidsschematools==1.0.5
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
coloredlogs==15.0.1
connected-components-3d==3.23.0
contourpy==1.3.0
coverage==7.8.0
csv-diff==1.2
cycler==0.12.1
Cython==3.0.12
deepdiff==8.4.2
Deprecated==1.2.18
dicom2nifti==2.6.0
dictdiffer==0.9.0
dipy==1.8.0
docker-pycreds==0.4.0
docopt==0.6.2
dynamic_network_architectures==0.3.1
einops==0.8.1
eval_type_backport==0.2.2
exceptiongroup==1.2.2
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.57.0
formulaic==0.3.4
fsspec==2025.3.2
future==1.0.0
gitdb==4.0.12
GitPython==3.1.44
graphviz==0.20.3
grpcio==1.71.0
gryds==0.0.9
h5py==3.13.0
humanfriendly==10.0
humanize==4.12.2
idna==3.10
imagecodecs==2024.12.30
imageio==2.37.0
importlib_metadata==8.6.1
importlib_resources==6.5.2
iniconfig==2.1.0
interface-meta==1.3.0
ivadomed==2.9.10
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.7
lazy_loader==0.4
linecache2==1.0.0
loguru==0.7.3
lxml==5.4.0
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline==0.1.7
mdurl==0.1.2
monai==1.4.0
mpmath==1.3.0
networkx==3.2.1
neurite==0.2
nibabel==5.3.2
nilearn==0.10.4
nnunetv2==2.3.1
num2words==0.5.14
numpy==1.26.4
onnx==1.17.0
onnxruntime==1.19.2
orderly-set==5.4.0
packaging==25.0
pandas==1.5.3
pillow==11.2.1
platformdirs==4.3.7
pluggy==1.5.0
portalocker==3.1.1
protobuf==6.30.2
psutil==7.0.0
pybids==0.15.5
pydantic==2.11.3
pydantic_core==2.33.1
pydicom==2.4.4
Pygments==2.19.1
pyparsing==3.2.3
PyQt5==5.12.3
PyQt5-sip==12.12.2
pystrum==0.4
pytest==8.3.5
pytest-console-scripts==1.4.1
pytest-cov==6.1.1
python-dateutil==2.9.0.post0
python-gdcm==3.0.24.1
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
requirements-parser==0.11.0
rich==14.0.0
rpds-py==0.24.0
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
sentry-sdk==2.26.1
setproctitle==1.3.5
setuptools-scm==8.3.1
shellingham==1.5.4
SimpleITK==2.4.1
six==1.17.0
smmap==5.0.2
SQLAlchemy==1.3.24
sympy==1.13.3
tensorboard==2.19.0
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
tifffile==2024.8.30
tomli==2.2.1
totalspineseg==20250205
tqdm==4.67.1
traceback2==1.4.0
traitlets==5.14.3
transforms3d==0.4.2
trx-python==0.3
typer==0.15.2
types-setuptools==79.0.0.20250422
typing-inspection==0.4.0
typing_extensions==4.13.2
unittest2==1.1.0
urllib3==2.4.0
voxelmorph==0.2
wandb==0.19.10
Werkzeug==3.1.3
wquantiles==0.6
wrapt==1.17.2
XlsxWriter==3.2.3
xlwt==1.3.0
yacs==0.1.8
zipp==3.21.0
--extra-index-url https://download.pytorch.org/whl/cpu # append_to_freeze
msvc-runtime==14.29.30133; sys.platform == 'win32' # append_to_freeze
torch<2.3 # append_to_freeze
