futures==3.2.0
nipy==0.4.1
nibabel==2.1.0
dipy==0.11.0
tqdm==4.11.2
raven==6.2.1
tensorflow==1.3.0; (sys_platform == 'linux2') and ("Debian" not in platform_version)
https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.3.0-py2-none-any.whl; sys_platform == 'darwin'
Keras==2.0.6
h5py==2.7.0
transforms3d
portalocker
