.header{
	background: linear-gradient(to bottom, #606060, #D0D0D0);
	color: white;
}

.footer{
	background: linear-gradient(to top, #606060, #D0D0D0);
	color: white;
}

.result-body{
	background: #EAEAEA;
	position: relative;
	top: 0px;
	left: 0px;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
}

.seperation{
    height: 74px;
}

.searchBar{
    position: absolute;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #dbdbdb;
    height: 34px;
    top: 50px;
    right: 15px;
}

.emptySearch{
    position: relative;
    top: 115px;
    background-color: Gainsboro;
    text-align: center;
}

#sprite-img, #overlay-img {
    position: absolute;
    top: 0px;
    left: 0px;
}

/* -- UNCOMMENT THESE LINES TO HAVE FADING EFFECT OF THE OVERLAY
@keyframes phase-in-out {
    from { opacity: 1; }
    to { opacity: 0; }
}


#overlay-img {
    animation: phase-in-out .5s infinite alternate ease-in-out;
}
*/

.Sagittal, .Axial{
    max-width: 100%;
    max-height: 400vh;
    overflow-y: hidden;
}

a.next {
    float: right;
}

.fixed-table-container {
    height: 80vh;
    font-size: 10px;
}

.navbar-brand > img {
    height: 25px;
    padding-right: 10px;
    display: inline;
}
