/* body{font-family:'Roboto',sans-serif;} */
.wy-side-nav-search>div.version{color:#000000;}
.wy-menu-vertical a:visited{color:#d9d9d9;}
.wy-menu-vertical p.caption{color:#3185bc;}
.wy-nav-content {max-width: none;}

/* Fix horizontal scrolling in tables. See https://github.com/readthedocs/sphinx_rtd_theme/issues/117 and
   https://sphinx-argparse.readthedocs.io/en/stable/misc.html#text-wrapping-in-argument-tables */
.wy-table-responsive {overflow: visible !important;}
.wy-table-responsive table td, .wy-table-responsive table th  {white-space: normal; !important;}

/* Remove the '!' on a specific admonition to use it for the testimonials page */
.admonition.testimonial p.admonition-title::before{content:""}
