.header{
	background: linear-gradient(to bottom, #606060, #D0D0D0);
	color: white;
}

.footer{
	background: linear-gradient(to top, #606060, #D0D0D0);
	color: white;
}

.result-body{
	background: #EAEAEA;
	position: relative;
	top: 0px;
	left: 0px;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
}

#sprite-img {
    position: absolute;
    top: 0px;
    height: auto;
}

@keyframes phase-in-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

#overlay-img {
    position: absolute;
    top: 0;
    height: auto;
    animation: phase-in-out .5s infinite alternate ease-in-out;
}

.Sagittal{
    width: 33%;
    left: 33%;
}

.Axial {
    width: 100%;
    left: 0px;
}
