name: Check code quality

on: [pull_request]

jobs:
  run_flake8_and_shellcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0  # Fetches all references, which is needed to `git diff` with origin/master
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: pip install 'flake8<6.0.0'
    # Note: flake8 picks up project-wide configuration options from 'setup.cfg' in SCT's root directory
    - name: Lint Python files with flake8
      run: git diff --name-only --diff-filter=d --merge-base master | grep '\.py$' | xargs --delimiter='\n' --no-run-if-empty flake8
    - name: Check shell scripts with shellcheck
      uses: ludeeus/action-shellcheck@master
      with:
        severity: style
