name: Check for broken links

on:
  schedule:
    - cron:  '0 10 * * *'

jobs:
  check_broken_links:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Check for broken links
      run: |
        touch valid_urls.txt redirected_urls.txt invalid_urls.txt
        find . -type f \( -name "*.txt" -o -name "*.md" -o -name "*.py" -o -name "*.rst" \) \
          \( \! -name 'CHANGES.md' \) \( \! -name 'requirements.txt' \) \( \! -name 'requirements-freeze.txt' \) \( \! -name 'sct.def' \) |
          xargs grep -Eio "\b(https?)://[-a-z0-9+&@#/%?=~_|$!:,.;]*[a-z0-9+&@#/%=~_|$]" |
          sed 's/:/;/' |
          xargs -n 1 ./.github/workflows/check-url.sh

    - name: Summarize
      run: |
        NUM_OK=$(wc -l valid_urls.txt | cut -d " " -f 1)
        NUM_REDIRECT=$(wc -l redirected_urls.txt | cut -d " " -f 1)
        NUM_BAD=$(wc -l invalid_urls.txt | cut -d " " -f 1)
        cat invalid_urls.txt
        echo -en "========== \033[0;32m$NUM_OK passed\033[0;0m, \033[0;33m$NUM_REDIRECT redirected\033[0;0m, \033[0;31m$NUM_BAD failed\033[0;0m ==========\n"
        exit $NUM_BAD
