name: Python Linting

on: [pull_request]

jobs:
  lint_job:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0  # Fetches all references, which is needed to `git diff` with origin/master
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: pip install 'flake8<6.0.0'
    # Note: flake8 picks up project-wide configuration options from 'setup.cfg' in SCT's root directory
    - name: Lint with flake8
      # NB: 'master...branch' is syntactic sugar for 'git diff `git merge-base master branch`..branch'
      # NB: You can exclude the second ref ('branch') and git diff will take the currently checked-out ref
      run: git diff origin/master... | flake8 --diff
