name: Test batch_processing.sh

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - release
  pull_request:
    branches:
      - '*'
  schedule:
    # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#onschedule
    # > Scheduled workflows run on the latest commit on the default or base branch
    # i.e. this can only run on master
    - cron:  '0 11 * * *'

env:
  # Turns on color output for pytest. See: https://github.com/pytest-dev/pytest/issues/7443#issuecomment-656642591
  PY_COLORS: "1"
  # Disable progress bars for less verbose output
  PIP_PROGRESS_BAR: "off"
  SCT_PROGRESS_BAR: "off"

jobs:
  batch_processing:
    name: Test batch_processing.sh
    strategy:
      matrix:
        os: [ ubuntu-18.04, macos-11, windows-2019 ]
    runs-on: ${{ matrix.os }}
    # NB: Setting `bash` as the default shell is a bit of a hack workaround for Windows to allow it to run .sh scripts.
    #     Normally, we would ask the user to install a Windows-compatible bash via either Cygwin or Git for Windows.
    #     But, setting `bash` here is the quickest/easiest way to get a cross-OS compatible GHA workflow.
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout SCT
        uses: actions/checkout@v2

      - name: Install SCT (Unix)
        if: matrix.os != 'windows-2019'
        run: ./install_sct -y

      - name: Install SCT (Windows)
        if: matrix.os == 'windows-2019'
        shell: cmd
        run: install_sct.bat

      - name: Update environment variables
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then

            # NB: I'm not sure what GHA's syntax is for cmd.exe, so we use bash just for this one change
            # In a user install, the user would perform this step using the Windows PATH-changing GUI.
            echo "$GITHUB_WORKSPACE/bin" >> $GITHUB_PATH

          else

            # NB: install_sct edits ~/.bashrc, but those environment changes don't get passed to subsequent steps in GH Actions.
            # So, we filter through the .bashrc and pass the values to $GITHUB_ENV and $GITHUB_PATH.
            # Relevant documentation: https://docs.github.com/en/actions/reference/workflow-commands-for-github-actions#environment-files
            # This workaround should be replaced by https://github.com/spinalcordtoolbox/spinalcordtoolbox/pull/3198#discussion_r568225392
            cat ~/.bashrc | grep "export SCT_DIR" | cut -d " " -f 2 >> $GITHUB_ENV
            cat ~/.bashrc | grep "export PATH" | grep -o "/.*" | cut -d ':' -f 1 >> $GITHUB_PATH

          fi

      - name: Check dependencies
        run: sct_check_dependencies

      - name: Run batch_processing.sh
        run: bash batch_processing.sh

      - name: Validate new results
        run: |
          # Auto-pass macOS as it would fail due to https://github.com/spinalcordtoolbox/spinalcordtoolbox/issues/3194
          if [ "$RUNNER_OS" == "macOS" ]; then
               sct_testing testing/batch_processing/test_batch_processing.py || exit 0
          else
               sct_testing testing/batch_processing/test_batch_processing.py
          fi
