name: Test batch_processing.sh

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - release
  pull_request:
    branches:
      - '*'
  schedule:
    # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#onschedule
    # > Scheduled workflows run on the latest commit on the default or base branch
    # i.e. this can only run on master
    - cron:  '0 11 * * *'

env:
  # Turns on color output for pytest. See: https://github.com/pytest-dev/pytest/issues/7443#issuecomment-656642591
  PY_COLORS: "1"
  # Used in 'pytest.mark.skipif()' for test, which prevents the test from being run during the usual test suite
  TEST_BATCH_PROCESSING: "1"
  # Disable progress bars for less verbose output
  PIP_PROGRESS_BAR: "off"
  SCT_PROGRESS_BAR: "off"

jobs:
  batch_processing:
    name: Test batch_processing.sh
    strategy:
      matrix:
        os: [ ubuntu-18.04 ]  # TODO: Change to [ ubuntu-18.04, macos-10.15 ]
                              # macOS currently fails due to https://github.com/spinalcordtoolbox/spinalcordtoolbox/issues/3194
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout SCT
        uses: actions/checkout@v2

      # install_sct edits ~/.bashrc, but those environment changes don't get passed to subsequent steps in GH Actions.
      # So, we filter through the .bashrc and pass the values to $GITHUB_ENV and $GITHUB_PATH.
      # Relevant documentation: https://docs.github.com/en/actions/reference/workflow-commands-for-github-actions#environment-files
      # This workaround should be replaced by https://github.com/spinalcordtoolbox/spinalcordtoolbox/pull/3198#discussion_r568225392
      - name: Install SCT
        run: |
          ./install_sct -y
          cat ~/.bashrc | grep "export SCT_DIR" | cut -d " " -f 2 >> $GITHUB_ENV
          cat ~/.bashrc | grep "export PATH" | grep -o "/.*" | cut -d ':' -f 1 >> $GITHUB_PATH

      - name: Run batch_processing.sh
        run: |
          ./batch_processing.sh

      - name: Validate new results
        run: |
          source python/etc/profile.d/conda.sh
          conda activate venv_sct
          pytest unit_testing/batch_processing/test_batch_processing.py
